<main class="page__main">
  <div class="page__main--grid">
    <include
      src="./section.html"
      aClass="main__section"
      title="Lorem ipsum dolor sit amet"
      text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum cumque officia vero incidunt obcaecati rem ut, non ipsa quod sunt, ratione ad! Ducimus, nam debitis! Recusandae nulla placeat rerum nam."
    ></include>
    <div class="page__main--border"></div>
    <section class="page__main--section">
      <h1 class="page__main--section__title">Lorem ipsum dolor sit amet</h1>
      <div class="page__main--section__flex">
        <aside class="page__main--asidecontent__aside"></aside>
        <p class="page__main--section__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
          cumque officia vero incidunt obcaecati rem ut, non ipsa quod sunt,
          ratione ad! Ducimus, nam debitis! Recusandae nulla placeat rerum nam.
        </p>
      </div>
    </section>
    <div class="page__main--border"></div>
    <include
      src="./section.html"
      aClass="main__section"
      title="Lorem ipsum dolor sit amet"
      text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum cumque officia vero incidunt obcaecati rem ut, non ipsa quod sunt, ratione ad! Ducimus, nam debitis! Recusandae nulla placeat rerum nam."
    ></include>
  </div>

  <aside class="page__main--section__aside">
    <div class="page__main--section__aside--box"></div>
    <div class="page__main--section__aside--box"></div>
  </aside>
</main>
