<ul class="page__links--list">
  <li class="page__links--list__item">
    <include
      src="./link.html"
      href="https://www.create-store.com/es/?esl-k=google-ads|ng|c652694229312|me|kcreate%20electrodomesticos|p|t|dc|a115143072406|g11678097097&utm_term=create%20electrodomesticos&utm_campaign=RB-Marca-Create-ES&utm_source=adwords&utm_medium=ppc&hsa_acc=1731306791&hsa_cam=11678097097&hsa_grp=115143072406&hsa_ad=652694229312&hsa_src=g&hsa_tgt=kwd-1048755665429&hsa_kw=create%20electrodomesticos&hsa_mt=e&hsa_net=adwords&hsa_ver=3&gclid=CjwKCAjw4ZWkBhA4EiwAVJXwqXK7PreIs0TiombBwtn00eLbmEIogI60hw-F_dJccK8O9BOPOq1O4hoCs0kQAvD_BwE"
      title="Link1"
      text="Link1"
    ></include>
  </li>
  <li class="page__links--list__item">
    <include
      src="./link.html"
      href="https://www.create-store.com/es/content/1629-magazine-index?_gl=1*1yzpagy*_up*MQ..*_ga*MjAwNTIzNjg1OS4xNjg2NDc1MTA1*_ga_R9RH9BT3JR*MTY4NjQ3NTEwNC4xLjAuMTY4NjQ3NTEwNC4wLjAuMA..&gclid=CjwKCAjw4ZWkBhA4EiwAVJXwqXK7PreIs0TiombBwtn00eLbmEIogI60hw-F_dJccK8O9BOPOq1O4hoCs0kQAvD_BwE"
      title="Link2"
      text="Link2"
    ></include>
  </li>
  <li class="page__links--list__item">
    <include
      src="./link.html"
      href="https://www.create-store.com/blog/es/?_gl=1*19bba8c*_up*MQ..*_ga*MjAwNTIzNjg1OS4xNjg2NDc1MTA1*_ga_R9RH9BT3JR*MTY4NjQ3NTEwNC4xLjAuMTY4NjQ3NTQ0MS4wLjAuMA..&gclid=CjwKCAjw4ZWkBhA4EiwAVJXwqXK7PreIs0TiombBwtn00eLbmEIogI60hw-F_dJccK8O9BOPOq1O4hoCs0kQAvD_BwE"
      title="Link3"
      text="Link3"
    ></include>
  </li>
  <li class="page__links--list__item">
    <include
      src="./link.html"
      href="https://www.create-store.com/es/contactenos"
      title="Link4"
      text="Link4"
    ></include>
  </li>
</ul>
