<ul class="page__links--rrsslist">
  <li class="page__links--list__item">
    <a
    class="page__links--list__item--rrssref"
      href="https://www.facebook.com/createspainfacebook"
      title="Facebook"
      target="_blank"
      ><i class="fa-brands fa-facebook page__links--list__item--rrssref__icon"></i
    ></a>
  </li>
  <li class="page__links--list__item">
    <a
    class="page__links--list__item--rrssref"
      href="https://www.instagram.com/create_spain/"
      title="Instagram"
      target="_blank"
      ><i class="fa-brands fa-instagram page__links--list__item--rrssref__icon"></i
    ></a>
  </li>
  <li class="page__links--list__item">
    <a
    class="page__links--list__item--rrssref"
      href="https://www.linkedin.com/company/create-int/"
      title="Linkedin"
      target="_blank"
      ><i class="fa-brands fa-linkedin page__links--list__item--rrssref__icon"></i
    ></a>
  </li>
</ul>
