
$font-main: 'Public Sans', sans-serif;
$color-bg: orange;
$color-text: black;
$color-links: white;
$color-links-bg: rgb(204, 20, 20);
$color-rrss-bg: brown;
$color-aside-bg: green;
$color-body-bg: rgb(218, 218, 218);
