.page__footer {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-bg;
  @media(min-width: 1024px){
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
}
