.page__main {
  padding:0 1em;
  min-height: 70vh;
  @media (min-width: 1024px) {
    padding-left: 1em;
    padding-right: 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 1em;
    background-color: $color-links;
    margin: 0 2em;
  }
  &--border {
    border-bottom: 1px solid $color-text;
  }
  &--asidecontent__aside {
    min-width: 20%;
    border-right: 2px solid grey;
    margin-right: 0.5em;
  }
}
.page__main--section__aside {
  display: none;
  @media (min-width: 1024px) {
    display: block;
    text-align: center;
    background-color: $color-aside-bg;
    padding: 0.5em;
  }
  &--box {
    display: none;
    @media (min-width: 1024px) {
      display: block;
      min-width: 200px;
      min-height: 100px;
      margin: 0.5em;
      background-color:$color-bg;
    }
  }
}
